{
  "useTabs": false,
  "printWidth": 90,
  "tabWidth":3,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "editor.formatOnSave": true,
  "[javascript]": {
    "editor.formatOnSave": true
  },
  "[typescript]": {
    "editor.formatOnSave": true
  },
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    }
    
  ]
}
